
  <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{titulo}}</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container">
          <div class="modal-body">
            <form [formGroup]="editForm" novalidate >
              <div class="form-group">
                <label for="cuit">Cuit</label>
                <div class="input-group">
                  <input formControlName="cuit" class="form-control" required type="text"
                  [ngClass]="{'is-invalid':Cuit?.errors && Cuit?.touched, 'is-valid': !Cuit?.errors && !Cuit?.touched }">                  
                </div>
              </div>
              <div class="form-group">
                <label for="direccion">Direccion</label>
                <div class="input-group">
                  <input formControlName="direccion" class="form-control" required type="text"
                  [ngClass]="{'is-invalid':Direccion?.errors && Direccion?.touched, 'is-valid': !Direccion?.errors && !Direccion?.touched }">                  
                </div>
              </div>
              <div class="form-group">
                <label for="mail">Mail</label>
                <div class="input-group">
                  <input formControlName="mail" class="form-control"  required type="email"
                  [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && !Email?.touched }">
                  <div *ngIf="Email?.errors && Email?.touched"  class="text-danger fs-6">
                    <p *ngIf="Email?.hasError('required')">El email es requerido.</p>           
                    <p *ngIf="Email?.hasError('email')">El formato debe ser válido.</p> 
                  </div>              
                </div>
              </div>  
                <div class="form-group">
                  <label for="razonSocial">Razón Social</label>
                  <div class="input-group">
                    <input formControlName="razonSocial" class="form-control" required type="text"
                    [ngClass]="{'is-invalid':RazonSocial?.errors && RazonSocial?.touched, 'is-valid': !RazonSocial?.errors && !RazonSocial?.touched }"> 
                  </div>
                </div>

              <div class="form-group">
                <label for="telefono">Telefono</label>
                <div class="input-group">
                  <input formControlName="telefono" class="form-control"  type="text"
                  [ngClass]="{'is-invalid':Telefono?.errors && Telefono?.touched, 'is-valid': !Telefono?.errors && !Telefono?.touched }">                   
                </div>
              </div>


        
              <!-- Ingreso egreso lado a lado  -->
              <!-- <table class="table">
                <tr>
                  <td>
                    <div class="form-group">
                      <label for="ingreso">Ingreso</label>
                      <div class="input-group">
                        <input formControlName="ingreso" class="form-control" required type="date">
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="egreso">Egreso</label>
                      <div class="input-group">
                        <input formControlName="egreso" class="form-control" required type="date">
                      </div>
                    </div>
                  </td>
                </tr>
              </table> -->
              <div class="form-group">

                <div class="input-group">
                  <input formControlName="id" class="form-control" type="hidden">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" [disabled]="editForm.invalid"(click)="guardarDatos()">
              Guardar
            </button>
          </div>
        </div>
    
  </div>





<!-- <select class="form-select form-select-md mb-3" (change)="changeTarifa($event)">
  <option value={{tarifaSeleccionada}}>Elegir Tarifa</option>
  <option *ngFor="let tarifa of tarifas">
    {{tarifa.direccion}}
  </option>
</select> -->
