<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">{{ titulo }}</h1>
  <button
    type="button"
    class="close btn btn-primary"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">

          <div class="form-group">
            <label for="razonSocial">Razón Social</label>
            <div class="input-group">
              <input
                formControlName="razonSocial"
                class="form-control"
                required
                type="text"
                [ngClass]="{
                  'is-invalid': RazonSocial?.errors && RazonSocial?.touched,
                  'is-valid': !RazonSocial?.errors && !RazonSocial?.touched
                }"
              />
            </div>
          </div>
          <label for="cuit">Cuit</label>
          <div class="input-group">
            <input
              formControlName="cuit"
              class="form-control"
              required
              type="text"
              [ngClass]="{
                'is-invalid': Cuit?.errors && Cuit?.touched,
                'is-valid': !Cuit?.errors && !Cuit?.touched
              }"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="direccion">Direccion</label>
          <div class="input-group">
            <input
              formControlName="direccion"
              class="form-control"
              required
              type="text"
              [ngClass]="{
                'is-invalid': Direccion?.errors && Direccion?.touched,
                'is-valid': !Direccion?.errors && !Direccion?.touched
              }"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="localidad">Localidad</label>
          <div class="input-group">
            <input
              formControlName="localidad"
              class="form-control"
              required
              type="text"
              [ngClass]="{
                'is-invalid': Localidad?.errors && Localidad?.touched,
                'is-valid': !Localidad?.errors && !Localidad?.touched
              }"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="provincia">Provincia</label>
          <div class="input-group">
            <input
              formControlName="provincia"
              class="form-control"
              required
              type="text"
              [ngClass]="{
                'is-invalid': Provincia?.errors && Provincia?.touched,
                'is-valid': !Provincia?.errors && !Provincia?.touched
              }"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="mail">Mail</label>
          <div class="input-group">
            <input
              formControlName="mail"
              class="form-control"
              required
              type="email"
              [ngClass]="{
                'is-invalid': Email?.errors && Email?.touched,
                'is-valid': !Email?.errors && !Email?.touched
              }"
            />
            <div
              *ngIf="Email?.errors && Email?.touched"
              class="text-danger fs-6"
            >
              <p *ngIf="Email?.hasError('required')">El email es requerido.</p>
              <p *ngIf="Email?.hasError('email')">
                El formato debe ser válido.
              </p>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="telefono">Telefono</label>
          <div class="input-group">
            <input
              formControlName="telefono"
              class="form-control"
              type="text"
              [ngClass]="{
                'is-invalid': Telefono?.errors && Telefono?.touched,
                'is-valid': !Telefono?.errors && !Telefono?.touched
              }"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input formControlName="id" class="form-control" type="hidden" />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-success"
        [disabled]="editForm.invalid"
        (click)="guardarDatos()"
      >
        Guardar
      </button>
    </div>
  </div>
</div>


