<nav class="navbar navbar-expand navbar-light bg-light">

  <div class="container-fluid">
   <!--  <a class="navbar-brand">Logo</a> -->
   <!--  <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div
      id="navbarCollapse"
      class="collapse navbar-collapse"
      *ngIf="user$.source._value.hasOwnProperty('roles')"
    >
      <ul class="nav navbar-nav">
        <li class="nav-item align-middle">
          <a
            routerLink="./playa"
            routerLinkActive="active"
            class="nav-link align-middle"
            ariaCurrentWhenActive="page"
            >Playa</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="./caja"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link align-middle"
            >Caja</a
          >
        </li>


        <li class="nav-item">
          <a
            routerLink="./tarifas"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link align-middle"
            >Tarifas</a
          >
        </li>

        <li class="nav-item">
          <a
            routerLink="./clientes"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link align-middle"
            >Clientes</a
          >
        </li>
        <li
          class="nav-item pantallasPequenias"
          ngbDropdown
          *ngIf="!user$.source._value.roles.user"
        >
          <a
          class="nav-link align-middle"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown2"
            role="button"
          >
            Dashboard
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdown2"
            class="dropdown-menu dropdown-menu-end"
          >
            <a
              ngbDropdownItem
              href="#"
              routerLink="./logs"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Logs</a
            >
            <a
              ngbDropdownItem
              href="#"
              routerLink="./facturacion"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Facturacion</a
            >
            <a
              ngbDropdownItem
              href="#"
              routerLink="./cajaLog"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Historial Caja</a
            >
            <a
            ngbDropdownItem
            href="#"
            routerLink="./vehiculos"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Vehiculos Clientes</a
          >
            <a
              ngbDropdownItem
              href="#"
              routerLink="./usuario"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Perfil Usuario</a
            >
            <a
              ngbDropdownItem
              href="#"
              routerLink="./empresa"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Perfil Empresa</a
            >
            <a
              *ngIf="user$.source._value.roles.superAdmin"
              ngbDropdownItem
              href="#"
              routerLink="./usuarios"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Usuarios</a
            >
          </div>
        </li>
      </ul>
     
    </div>
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item">
        <app-logout></app-logout>
      </li>
    </ul>
  </div>
</nav>
