.modal-dialog {
  width: 600px; 
  margin: 0 auto; 
}

.badge {
  padding: 1em 1.25em;
  background-color: #435B60;
  max-width: 11px;
  margin-top: .2em;
  margin-right: .8em;
  border-radius: 8px 0 0 8px;
}

table.dataTable {
  margin: 0 auto;
}

.botones{
  display:flex !important;
  flex-direction: row !important;
  align-items:flex-start;
}

app-btn-editar, app-btn-eliminar, app-btn-agregar{
  margin-right: -10px;
} 


@media screen and (max-width: 1400px) and (min-width: 1200px) {
  table{
    font-size: 2.2rem;
    /* background-color: red;
    max-width: 50rem; */
  }
  .pantallasPequenias{
    display:none !important;
  }
}

@media screen and (max-width: 1199.9px) and (min-width: 992px) {
  table{
    font-size: 1.9rem;
    /* background-color: red;
    max-width: 50rem; */
  }
/*   .pantallasPequenias{
    display:none !important;
  } */
}

@media screen and (max-width: 991.9px) and (min-width: 768px) {
  table{
    font-size: 1.9rem;
    /* background-color: red;
    max-width: 50rem; */
  }
  .pantallasPequenias{
    display:none !important;
  }
}

@media screen and (max-width: 767.9px) and (min-width: 576px) {
  table{
    font-size: 1.7rem;
    /* background-color: red;
    max-width: 50rem; */
  }
  .pantallasPequenias{
    display:none !important;
  }
}

@media screen and (max-width: 575.9px)   {
  table{
    font-size: 1.2rem;
    /* background-color: red;
    max-width: 50rem; */
  }
  .pantallasPequenias{
    display:none !important;
  }

  .pantallasPequenias2{
    display:none !important;
  }
}