<H1 class="display-1" style="text-align: center;">Clientes </H1>

<div>


<style type="text/css">
    .tftable {font-size:18px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#d4e3e5;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffffff;}
    </style>
    
    <table class="tftable" border="1">
    <tr><th>Apellido</th><th>Nombre</th><th>telefono</th><th>Direccion</th><th>Comentario</th><th><i class="bi bi-pencil-fill"></i></th></tr>
    <tr *ngFor="let item of data | filter: searchText; let i = index">
      <td>{{item.apellido}}</td><td>{{item.nombre}}</td><td>{{item.telefono}}</td><td>{{item.direccion}}</td><td>{{item.comentario}}</td><td><button><i class="bi bi-pencil-fill"></i></button> </td>
    </tr>
    </table>
 
    
    <blockquote class="blockquote">
<p class="mb-0">copidado de la app original</p>
<p class="mb-0">Usa el campo comentarios para el modelo de auto</p>




</blockquote>




<H1 class="display-1" style="text-align: center;">Clientes</H1>




    <ul>
  <li>
    <div style=" float: right;" *ngIf="$estado | async">

        <app-btn-agregar class="right " *ngIf="$estado" (click)="msgBack('Agregar',[])"
        class="d-flex align-items-center ">
    </app-btn-agregar>     
    </div>
  </li>
</ul>


<div class="container">

  <div class="form-group mb-4">
    <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Buscar">
  </div>

  <table class="table" *ngIf="(data | filter: searchText).length > 0; else noResults">
    <colgroup>
      <col width="5%">
      <col width="30%">
      <col width="35%">
      <col width="15%">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patente</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Color</th>
        <th scope="col">Ingreso</th>
      </tr>
    </thead>




    <tbody>
        <p>{{data | async}}</p>
      <tr *ngFor="let item of data | filter: searchText; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.marca}}</td>
        <td>{{item.modelo}}</td>
        <td>{{item.color}}</td>
        <td>{{item.ingreso}}</td>



      
            <div *ngIf="$estado | async" class="card-footer">
      
              <!--(1) modificar el boton para que llame al metodo open del modal con el template  -->
      
              <app-btn-editar class="right" *ngIf="$estado"
              (click)="msgBack('Editar',item)" class="d-flex align-items-center">
          </app-btn-editar>
          <app-btn-eliminar class="right" *ngIf="$estado"
              (click)="msgBack('Eliminar',item)" class="d-flex align-items-center">
          </app-btn-eliminar>
            </div>
   

      </tr>
    </tbody>
  </table>

  <ng-template #noResults>
    <p>No results found for "{{searchText}}".</p>
  </ng-template>
</div>

