<!-- <H1 class="display-1" style="text-align: center;">Clientes </H1> -->
<div *ngIf="($modoCaja | async) === 'cerrada'">
  <h5 style="color: red">Caja Cerrada.</h5>
  <h5 style="color: red">No se puede cobrar Abonos.</h5>
  <h5 style="color: red">Abrir Caja o consultar con un Administrador.</h5>
</div>

<div *ngIf="($modoCaja | async) === 'admin'">
  <h5 style="color: red">Caja Abierta por otro usuario.</h5>
  <h5 style="color: red">No se puede cobrar abonos.</h5>
  <h5 style="color: red">
    Debe cerrar y vovler a abrir sesion para operar.
  </h5>
</div>
<div class="container">
  <div style="float: right" >
    <app-btn-agregar
      class="right"
      (click)="msgBack('Agregar', [])"
      class="d-flex align-items-center"
    >
    </app-btn-agregar>
  </div>
  <div>
    <table datatable [dtOptions]="dtOptions" class="display table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>telefono</th>
          <th>Direccion</th>
          <th>email</th>
          <th>Comentario</th>
          <th></th>
          <th></th>
          <th ></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of data | async; let i = index">
          <td class="badge" scope="row">{{ i + 1 }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.comentario }}</td>
          <td>
            <app-btn-editar 
              class="right"
              (click)="msgBack('Editar', item)"
              class="d-flex align-items-center"
            >
            </app-btn-editar>
          </td>
          <td>
            <app-btn-eliminar
              class="right"
              (click)="msgBack('Eliminar', item)"
              class="d-flex align-items-center"
            >
            </app-btn-eliminar>
          </td>
          <td >
            <app-btn-agregar
              class="right"
              (click)="msgBack('Vehiculo', item)"
              [name]="vehiculo"
            >
            </app-btn-agregar>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
