<H1 class="display-1" style="text-align: center;">Tarifas </H1>

<div>

 
    
    <blockquote class="blockquote">
<p class="mb-0"><strong>Nombre:</strong> de la promo, son las opciones que aparecen en parking al ingresar.</p>


<p class="mb-0"><strong>Unidad Tiempo:</strong> temporal para el calculo</p>

<p class="mb-0"><strong>Valor</strong> en $ por unidad de tiempo</p>

<p class="mb-0"><strong>fraccion:</strong> si se calcula o no en el importe cuando se pasa x unidad de tiempo</p>

<p class="mb-0"><strong>UT Fraccion</strong> sobre que unidad de tiempo se calcula la fraccion (Ej: se tarifa por hora, se considera la fraccion en minutos)</p>
<p class="mb-0"><strong>Dto:</strong> %, si quiere usar algun descuento especial sobre la tarifa</p>

</blockquote>

</div>
<hr>
<hr>
<hr>
<h3> Esta tabla esta solo para probar que lea dos objetos distintos (vehiculos y tarifas) de la base de datos virtual. esto de abajo lo lee de data.service </h3>


<div class="container">

  
    <table class="table" *ngIf="tarifas.length > 0">
      <colgroup>
        <col width="5%">
        <col width="30%">
        <col width="35%">
        <col width="15%">
      </colgroup>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Unidad de Tiempo</th>
          <th scope="col">Valor($)</th>
          <th scope="col">Fraccion</th>
          <th scope="col">UT Fraccion</th>
          <th scope="col">Descuento</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let tarifa of tarifas; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{tarifa.nombre}}</td>
          <td>{{tarifa.unidad_tiempo}}</td>
          <td>{{tarifa.valor}}</td>
          <td>{{tarifa.fraccion}}</td>
          <td>{{tarifa.ut_fraccion}}</td>
          <td>{{tarifa.descuento}}</td>
  
        </tr>
      </tbody>
    </table>
      
    
  </div>