h1 {padding:2%;}


ul > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  margin: 10px;
  
  text-align:center;

}


.modal-dialog {
  width: 600px; 
  margin: 0 auto; 
}