<!--<div class="d-flex justify-content-end"> -->
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title"></h1>
  <button
    type="button"
    class="close"
    class="btn btn-primary"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="ticket" class="receipt">
  <div class="location">Ticket Abono</div>

  <app-ticket-header></app-ticket-header>

  <div class="location">
    Emitido: <br />
    {{ fechaHoraActual | date : "dd/MM/yyyy HH:mm:ss" : "local" }}
  </div>
  <div class="location">
    Cliente: <br />
    {{ cliente.apellido }} {{ cliente.nombre }}
  </div>

  <div class="location">
    Patente: <br />
    {{ item.patente }}
  </div>

  <div class="location">
    Tarifa: <br />
    {{ item.tarifa.nombre }}
  </div>

  <div class="location">Importe: <br />{{ item.tarifa.valor }}</div>
</div>
<div>

  <div>
    <app-btn-agregar
      [name]="'Confirmar'"
      class="fa"
      (click)="pago()"
      ></app-btn-agregar>
  </div>
</div>
