<!-- START RECEIPT -->

<!-- <p> Aparece como modal en playa?</p>
<p> ticket de salida con el saldo ? </p>
<p> los tickets deberian estar relacionados a un numero de operacion en facturacion/playa log? (control empleados)</p> -->

<div class="d-flex justify-content-center">

    <div id="ticket" class="receipt">
        <i class="fa fa-car" ></i>
        <div class="orderNo">
            Estacionamiento <span id="Cochera">71</span>
        </div>
        <div class="headerSubTitle">
            TICKET RETIRO
        </div>
        <div class="headerTitle">
            LINKIN PARK
        </div>
        <div class="headerSubTitle">
            Siempreviva 2687
        </div>
        <div class="location">
            Datos Vehiculo
        </div>
        <div class="location">
            {{patente}}
        </div>    
        <div class="date">
            Ingreso:
        </div>    
        <div id="date">
            {{fechaIngreso}}
            {{horaIngreso}} hs
        </div>
        <div *ngIf="modo === 'Salida'">
            <div class="date">
                Salida:
            </div>    
            <div>
                Fecha:
                {{fechaSalida}}                
            </div>
            <div>                
                Hora:
                {{horaSalida}} hs
            </div>
            <div>
                Estadia:
                {{estadiaHoras}} hs
            </div>
            <div class="saldo">
                Importe:
            </div> 
            <div>
                ${{saldo}}
            </div>   
        </div>

        <hr>

        <div *ngIf="modo !== 'Salida'" else salida>
        <!-- Cod Barras / QR -->
            <div style="text-align:center">
                <ngx-barcode6
                    [bc-format]="format"
                    [bc-value]="value"
                    [bc-display-value]="displayValue"
                    [bc-width]="width"
                >
                </ngx-barcode6>
            </div>
        
            <p class="headerSubTitle"> aca va el qr</p>

            <div class="keepIt">
                No pierda este ticket
            </div>
            <div class="keepItBody">
                Este recibo original es necesario para retirar su vehiculo.
            </div>
        </div>       
    </div>
</div>
<button [print]="['ticket']">Print</button>
<button (click)="closeModal()">Cerrar</button>

<!-- 
<ng-template #salida>
    <div>
        Salida:
        {{fechaSalida}}
        Hora:
        {{horaSalida}}
    </div>
</ng-template> -->