<!-- <H1 class="display-1" style="text-align: center;">Tarifas </H1> -->


<div class="container">

<ul>
  <li>
    <div style=" float: right;">

      <app-btn-agregar class="right " (click)="msgBack('Agregar',[])" class="d-flex align-items-center ">
      </app-btn-agregar>
    </div>
  </li>
</ul>
<div>

  <div class="form-group mb-4">
    <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Buscar">
  </div>

  <table class="table" *ngIf="(data | filter: searchText).length > 0; else noResults">
    
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nombre</th>
      <th scope="col">fraccion</th>
      <th scope="col">UT</th>
      <th scope="col">Valor</th>
      <th scope="col">tolerancia</th>
      <th scope="col">Modificar<i class="bi bi-pencil-fill"></i></th>
    </tr>
  </thead>


  

    <tbody>
    <tr *ngFor="let item of data | filter: searchText; let i = index">
      <th class="badge" scope="row">{{i + 1}}</th>
      <td>{{item.nombre}}</td>
      <td>{{item.fraccion}}</td>
      <td>{{item.unidad_tiempo}}</td>
      <td>{{item.valor}}</td>
      <td>{{item.tolerancia}}</td>

      <td>
        <app-btn-editar class="right" (click)="msgBack('Editar',item)" >
        </app-btn-editar>
      </td>
      
      <td>
        <app-btn-eliminar class="d-flex align-items-center" (click)="msgBack('Eliminar',item) " >
        </app-btn-eliminar>
      </td>

    </tr>

    </tbody>
  </table>

  <ng-template #noResults>
    <p>No results found for "{{searchText}}".</p>
  </ng-template>

</div>
