<H1 class="display-1" style="text-align: center;">Tarifas </H1>





    <ul>
  <li>
    <div style=" float: right;" *ngIf="$estado | async">

        <app-btn-agregar class="right " *ngIf="$estado" (click)="msgBack('Agregar',[])"
        class="d-flex align-items-center ">
    </app-btn-agregar>     
    </div>
  </li>
</ul>
<div>


<style type="text/css">
    .tftable {font-size:18px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#d4e3e5;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffffff;}
    </style>
    
    <div class="form-group mb-4">
      <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Buscar">
    </div>

    <table class="tftable" border="1">
    <tr><th>nombre</th><th>fraccion</th><th>Unidad de tiempo</th><th>Valor</th><th>tolerancia</th><th>Modificar<i class="bi bi-pencil-fill"></i></th></tr>
    <tr *ngFor="let item of data | filter: searchText; let i = index">
      
      <td>{{item.nombre}}</td>      
      <td>{{item.fraccion}}</td>
      <td>{{item.unidad_tiempo}}</td>
      <td>{{item.valor}}</td>      
      <td>{{item.tolerancia}}</td>
     

    
          
      <div *ngIf="$estado | async" class="card-footer">
      
        <!--(1) modificar el boton para que llame al metodo open del modal con el template  -->

        <app-btn-editar class="right" *ngIf="$estado"
        (click)="msgBack('Editar',item)" class="d-flex align-items-center">
    </app-btn-editar>
    <app-btn-eliminar class="right" *ngIf="$estado"
        (click)="msgBack('Eliminar',item)" class="d-flex align-items-center">
    </app-btn-eliminar>
      </div>
    </tr>
    </table>
 
