
<br><br>
<h1 class="display-1 pantallasGrandes" style="text-align: center;">Perfil Usuario</h1>

<div class="container pantallasGrandes">


    <!-- Show user data when logged in -->
    <div class="row" *ngIf="data$ as user">
      <div class="col-md-12">
        <div class="media">
          <img class="align-self-start mr-5 img-thumbnail rounded-circle"
            src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
          <div class="media-body">
            <h1><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
            <p>Email Verificado: <strong>{{user.emailVerified}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="pantallasPequenias">
  <app-pagenotfound></app-pagenotfound>
</div>
