<!-- <H1 class="display-1" style="text-align: center;">Facturacion </H1> -->



<div class="container">
    <div class="form-group mb-4">
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Buscar">
    </div>

    <table class="table" *ngIf="(data | filter: searchText).length > 0; else noResults">
        <colgroup>
            <col width="5%">
            <col width="30%">
            <col width="35%">
            <col width="15%">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Patente</th>
                <th scope="col">Ingreso</th>
                <th scope="col">Egreso</th>
                <th scope="col">Tarifa</th>
                <th scope="col">Saldo</th>
                <th scope="col">Descripcion
                <th>
            </tr>
        </thead>




        <tbody *ngIf="respuestaFacturacion !== undefined">
            <tr *ngFor="let item of respuestaFacturacion.facturacion | filter: searchText; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{item.patente}}</td>
                <td>{{item.fechas.fechaIngreso}} {{item.fechas.horaIngreso}} </td>
                <td>{{item.fechas.fechaSalida}} {{item.fechas.horaSalida}}</td>
                <td>{{item.tarifa.nombre}}</td>
                <td>{{item.saldo}}</td>
                <td>{{item.descripcion}}</td>






              


            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Total:</td>
                <td *ngIf="respuestaFacturacion !== undefined"> {{respuestaFacturacion.consultaFacturacion.total}} </td>
            </tr>
        </tfoot>
        
    </table>

    <ng-template #noResults>
        <p>Sin resultados para: "{{searchText}}".</p>
    </ng-template>
