<!-- <H1 class="display-1" style="text-align: center;">Facturacion </H1> -->


<ul class="d-flex justify-content-evenly">
    <!-- <li>
    <div style=" float: right;" *ngIf="$estado | async">
      <app-btn-agregar class="right " *ngIf="$estado" (click)="msgBack('Agregar',[])"
      class="d-flex align-items-center ">
      </app-btn-agregar> 
    </div>
  </li> -->
    <!-- <li>
        <div style=" float: left;">
            <app-btn-eliminar class="left" *ngIf="$estado" (click)="msgBack('Salida',[])"
                class="d-flex align-items-center ">
            </app-btn-eliminar>
        </div>
    </li> -->
</ul>


<div class="container">

    <div class="form-group mb-4">
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Buscar">
    </div>

    <table class="table" *ngIf="(data | filter: searchText).length > 0; else noResults">
        <colgroup>
            <col width="5%">
            <col width="30%">
            <col width="35%">
            <col width="15%">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Patente</th>
                <th scope="col">Ingreso</th>
                <th scope="col">Egreso</th>
                <th scope="col">Tarifa</th>
                <th scope="col">Saldo</th>
                <th scope="col">Descripcion
                <th>
            </tr>
        </thead>




        <tbody>
            <tr *ngFor="let item of data | filter: searchText; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{item.patente}}</td>
                <td>{{item.ingreso}}</td>
                <td>{{item.egreso}}</td>
                <td>{{item.tarifa}}</td>
                <td>{{item.saldo}}</td>
                <td>{{item.descripcion}}</td>






                <div *ngIf="$estado | async" class="card-footer">

                    <!--(1) modificar el boton para que llame al metodo open del modal con el template  -->

                    <!-- <app-btn-editar class="right" *ngIf="$estado" (click)="msgBack('Editar',item)"
                        class="d-flex align-items-center">
                    </app-btn-editar> -->
                    <!-- <app-btn-eliminar class="right" *ngIf="$estado" (click)="msgBack('Eliminar',item)"
                        class="d-flex align-items-center">
                    </app-btn-eliminar> -->
                </div>


            </tr>
        </tbody>
    </table>

    <ng-template #noResults>
        <p>Sin resultados para: "{{searchText}}".</p>
    </ng-template>
