<div class="container">
    <div class="form-group mb-4">
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Buscar">
        <div *ngIf="respuestaFacturacion !== undefined else tituloFacturacionDelDia">
            <h2>Detallde de Consulta</h2>
        </div>
        <ng-template #tituloFacturacionDelDia>
            <div>
                <h2>Facturacion del dia {{facturacionDeldia.consultaFacturacion.fechaDesde}} </h2>
            </div>
        </ng-template>

        <table class="table table-hover table-condensed" *ngIf="(data | filter: searchText).length > 0; else noResults">
            <colgroup>
                <col width="5%">
                <col width="30%">
                <col width="35%">
                <col width="15%">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Patente</th>
                    <th scope="col">Ingreso</th>
                    <th scope="col">Egreso</th>
                    <th scope="col">Tarifa</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Descripcion
                    <th>
                </tr>
            </thead>
            <tbody *ngIf="respuestaFacturacion !== undefined else facturacionDia">
                <tr *ngFor="let item of respuestaFacturacion.facturacion | filter: searchText; let i = index">
               
                    <td>{{item.patente}}</td>
                    <td>{{item.fechas.fechaIngreso}} {{item.fechas.horaIngreso}} </td>
                    <td>{{item.fechas.fechaSalida}} {{item.fechas.horaSalida}}</td>
                    <td>{{item.tarifa.nombre}}</td>
                    <td>{{item.saldo}}</td>
                    <td>{{item.descripcion}}</td>
                </tr>
            </tbody>
            <tfoot *ngIf="respuestaFacturacion !== undefined">
                <tr>
                    <td>Total:</td>
                    <td> {{respuestaFacturacion.consultaFacturacion.total}} </td>
                </tr>
            </tfoot>

        </table>

        <ng-template #noResults>
            <p>Sin resultados para: "{{searchText}}".</p>
        </ng-template>
    </div>

    <ng-template #facturacionDia>
        <tbody>
            <tr *ngFor="let item of facturacionDeldia.facturacion | filter: searchText; let i = index">
                <th class="badge" scope="row">{{i + 1}}</th>
                <td>{{item.patente}}</td>
                <td>{{item.fechas.fechaIngreso}} {{item.fechas.horaIngreso}} </td>
                <td>{{item.fechas.fechaSalida}} {{item.fechas.horaSalida}}</td>
                <td>{{item.tarifa.nombre}}</td>
                <td>{{item.saldo}}</td>
                <td>{{item.descripcion}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Total:</td>
                <td>$ {{facturacionDeldia.consultaFacturacion.total}} </td>
            </tr>
        </tfoot>
    </ng-template>