
<div *ngIf="titulo ==='Vehiculo' else clientes ">
    <app-vehiculos-form [item]="item" (newItemEvent)="getMsg($event)" ></app-vehiculos-form>
</div>

<ng-template #clientes>
  <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title"  *ngIf="!soloVista">{{titulo}} Clientes</h1>
      <button type="button" class="close btn btn-primary" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container">
          <div class="modal-body">
            <form [formGroup]="editForm" novalidate>
              <div class="form-group">
                <label for="Apellido">Apellido</label>
                <div class="input-group">
                  <input formControlName="apellido" class="form-control" required type="text"
                  [ngClass]="{'is-invalid':Apellido?.errors && Apellido?.touched, 'is-valid': !Apellido?.errors && !Apellido?.touched }"
                  [ngClass]="{'isDisabled': soloVista}">
                </div>
              </div>
              <div class="form-group">
                <label for="Nombre">Nombre</label>
                <div class="input-group">
                  <input formControlName="nombre" class="form-control" required type="text"
                  [ngClass]="{'is-invalid':Nombre?.errors && Nombre?.touched, 'is-valid': !Nombre?.errors && !Nombre?.touched }"
                  [ngClass]="{'isDisabled': soloVista}">
                </div>
              </div>

              <div class="form-group">
                <label for="Telefono">Telefono</label>
                <div class="input-group">
                  <input formControlName="telefono" class="form-control"  type="text"
                  [ngClass]="{'is-invalid':Telefono?.errors && Telefono?.touched, 'is-valid': !Telefono?.errors && !Telefono?.touched }"
                  [ngClass]="{'isDisabled': soloVista}">                  
                </div>
              </div>

              <div class="form-group">
                <label for="Direccion">Direccion</label>
                <div class="input-group">
                  <input formControlName="direccion" class="form-control"  type="text"
                  [ngClass]="{'isDisabled': soloVista}">
                </div>
              </div>

              <div class="form-group">
                <label for="Email">Email</label>
                <div class="input-group">
                  <input formControlName="email" class="form-control" required type="email" placeholder="example@example.com"
                  [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && !Email?.touched }"
                  [ngClass]="{'isDisabled': soloVista}">
                  <div *ngIf="Email?.errors && Email?.touched"  class="text-danger fs-6">
                    <p *ngIf="Email?.hasError('required')">El email es requerido.</p>           
                    <p *ngIf="Email?.hasError('email')">El formato debe ser válido.</p> 
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="Comentario">Comentario</label>
                <div class="input-group">
                  <input formControlName="comentario" class="form-control" type="text"
                  [ngClass]="{'isDisabled': soloVista}">
                </div>
              </div>
        
              <!-- Ingreso egreso lado a lado  -->
              <!-- <table class="table">
                <tr>
                  <td>
                    <div class="form-group">
                      <label for="ingreso">Ingreso</label>
                      <div class="input-group">
                        <input formControlName="ingreso" class="form-control" required type="date">
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="egreso">Egreso</label>
                      <div class="input-group">
                        <input formControlName="egreso" class="form-control" required type="date">
                      </div>
                    </div>
                  </td>
                </tr>
              </table> -->
              <div class="form-group">

                <div class="input-group">
                  <input formControlName="id" class="form-control" type="hidden"
                  [ngClass]="{'isDisabled': soloVista}">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer" *ngIf="!soloVista">
            <button class="btn btn-success" [disabled]="editForm.invalid"(click)="guardarDatos()" >
              {{titulo}}
            </button>
          </div>
        </div>
    
  </div>
</ng-template>




<!-- <select class="form-select form-select-md mb-3" (change)="changeTarifa($event)">
  <option value={{tarifaSeleccionada}}>Elegir Tarifa</option>
  <option *ngFor="let tarifa of tarifas">
    {{tarifa.nombre}}
  </option>
</select> -->