
.modal-dialog {
    width: 600px; 
    margin: 0 auto; 
  }
 
  
 .positive {
    color: green;
}

.negative {
    color: lightblue;
}

.cierre {
    color: red;
}

table.dataTable {
    margin: 0 auto;
  }