h1 {padding:2%;}

p {
  /* el tamaño por defecto es 14px */
  font-size: 14px;
}

ul > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  margin: 10px;
  
  text-align:center;

}


.modal-dialog {
  width: 600px; 
  margin: 0 auto; 
}

.badge {
  padding: 1em 2em;
  color: white;
  background-color: #435B60;
  min-width: 16px;
  margin-top: .2em;
  margin-right: .8em;
  border-radius: 8px 0 0 8px;
}