<h1 class="display-1 pantallasGrandes" style="text-align: center">Log Operaciones</h1>

<div class="container pantallasGrandes">

  <table datatable [dtOptions]="dtOptions" class="display table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">usuario</th>
        <th scope="col">Tipo</th>
        <th scope="col">Patente</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of data | async ; let i = index">
        <td class="badge" scope="row">{{ i + 1 }}</td>
        <td>
          {{ item.Fecha.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }}
        </td>
        <td>{{ item.usuario }}</td>
        <td>{{ item.tipo }}</td>
        <td>{{ item.patente }}</td>

      </tr>
    </tbody>
  </table>
</div>

<div class="pantallasPequenias">
  <app-pagenotfound></app-pagenotfound>
</div>