
<br>
<!-- <button (click)="testLog()">Log Test</button> -->
<!-- <p>chequear consola</p> -->



<div class="container">

    <div class="form-group mb-4">
      <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Buscar">
    </div>
  
    <table class="table" *ngIf="(data | filter: searchText).length > 0; else noResults">
      <colgroup>
        <col width="5%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">

      </colgroup>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">usuario</th>
          <th scope="col">Tipo</th>
          <th scope="col">Patente</th>
       <!--   <th scope="col">Log</th> -->

        </tr>
      </thead>
  
  
  
  
      <tbody>
        <tr *ngFor="let item of data | filter: searchText; let i = index">
    
          <th class="badge" scope="row">{{i + 1}}</th>
          <td>{{item.Fecha.seconds * 1000 | date:'dd/MM/yyyy - hh:mmaaa'}}</td>
          <td>{{item.usuario}}</td>
          <td>{{item.tipo}}</td>
          <td>{{item.patente}}</td>
        <!-- <td>{{item.msg | json}}</td> -->
     
     
          <!-- <div *ngIf="$estado | async" class="card-footer"> -->
  
          <!--(1) modificar el boton para que llame al metodo open del modal con el template  -->
          <td>
            <!-- <app-btn-editar class="right" (click)="msgBack('Editar',item)"> -->
            <!-- </app-btn-editar> -->
          </td>
         <!--  <td>
            <app-btn-eliminar class="right" 
                              (click)="msgBack('Eliminar',item)"
                              name = 'Egreso'>
            </app-btn-eliminar>
          </td> -->
          <td>
            <!-- <app-btn-reimpresion class="right" (click)="msgBack('Reimprimir',item)"> -->
            <!-- </app-btn-reimpresion> -->
  
          </td>
          <!-- </div> -->
  
  
        </tr>
      </tbody>
    </table>
  
    <ng-template #noResults>
      <p>No results found for "{{searchText}}".</p>
    </ng-template>