<div class="container">
  <app-login-header></app-login-header>

  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Registrarse</h3>

        <div class="formGroup">
          <input
            type="email"
            class="formControl"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>

        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPwd
            required
          />
        </div>

        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          />
        </div>

        <div class="formGroup">
          <span class="or"><span class="orInner">O</span></span>
        </div>

        <!-- Continue with Google -->
        <!-- <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="(authService.GoogleAuth)"
        >
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>
    </div> -->

        <div class="redirectToLogin">
          <span
            >Ya tiene una cuenta?
            <span class="redirect" routerLink="/">Ingresar</span></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
