<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{titulo}} Vehiculo </h5>
  <button type="button" class="close" class="btn btn-primary" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
      <div class="modal-body">
        <form [formGroup]="editForm" novalidate>
          <div class="form-group">
            <label for="Patente">Patente</label>
            <div class="input-group">
              <input formControlName="patente" class="form-control" required type="text"
              [ngClass]="{'is-invalid':Patente?.errors && Patente?.touched, 'is-valid': !Patente?.errors && !Patente?.touched }">    
              <div *ngIf="Patente?.errors?.required && Patente?.touched" class="text-danger fs-6">
                  Ingrese la patente por favor
              </div>
              <div *ngIf="Patente?.errors && Patente?.touched" class="text-danger fs-6">
                  Patente no valida
              </div>  
            </div>
          </div>
          <div class="form-group">
            <label for="Tarifa">Tarifa</label>
        <!--     <div class="input-group">
              <input formControlName="idTarifa" class="form-control" required type="text">
            </div> -->
            
            <select class="form-select form-select-md mb-3" (change)="changeTarifa($event)">
              <option value={{tarifaSeleccionada}}>Elegir Tarifa</option>
              <option *ngFor="let tarifa of tarifas">
                {{tarifa.nombre}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="Descripcion">Descripcion</label>
            <div class="input-group">
              <input formControlName="descripcion" class="form-control" required type="text">
            </div>
          </div>

    
          <table class="table" *ngIf='titulo==="Agregar"'>
            <tr>
              <td>
                <div class="form-group p-0">
                  <label for="ingreso">Ingreso</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text ">Fecha</span>
                    <input class="fw-bold" type="text" value="{{fechas.fechaIngreso}}" disabled>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Hora</span>
                    <input class="fw-bold" type="text" value="{{fechas.horaIngreso}} " disabled>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <!-- <div class="form-group">

            <div class="input-group">
              <input formControlName="id" class="form-control" type="hidden">
            </div>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="guardarDatos()">
          {{titulo}}
        </button>
      </div>
    </div>
    <div>
      <button class="btn btn-outline-primary" (click)="Automatico()">
        boton playa
      </button>
    </div>
</div>

