<div class="modal-header">
  <button
    type="button"
    class="close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- CAMPO OBSERVACIONES DEL FORM -->

<div class="modal-body">
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="Concepto">Comentarios</label>
        <div class="input-group">
          <input
            formControlName="concepto"
            class="form-control"
            required
            type="text"
            [ngClass]="{
              'is-invalid': Concepto?.errors && Concepto?.touched,
              'is-valid': !Concepto?.errors && !Concepto?.touched
            }"
          />
        </div>
      </div>
    </form>
  </div>

  <!-- INICIO TICKET -->

  <!-- TITULO -->
  <div class="d-flex justify-content-center" id="ticket">
    <div id="ticket" class="receipt">
      <div class="location">CIERRE DE CAJA</div>

      <!-- HEADER -->
      <app-ticket-header></app-ticket-header>

      <!-- CONTENIDO -->
      <div class="location">Operador: {{ this.getInfo.nombreUsuario }}</div>
      <div class="location">Id Sesion: XXZXX4XX</div>
      <div class="location">Abrio: XX/XX/XX 00:00</div>
      <div class="location">Cerro: XX/XX/XX 00:00</div>

      <div class="location">Apertura :</div>
      <div class="location">
        Saldo De Caja :
        {{ saldo | currency : "ARS" : "symbol-narrow" : "1.0-0" }}
      </div>
      <div class="location">Ingresos Turno:</div>

      <hr />

      <div class="location">
        Vehiculos en playa : {{ this.getInfo.listadoPatentes.length }}
      </div>
      <div class="location">Patentes</div>
      <div *ngFor="let item of this.getInfo.listadoPatentes; let i = index">
      
        <p class="location" style="text-align:center;" >
          {{ i + 1 }} - |   {{ item }}
          <!-- {{ item.apertura.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }} -->
        </p>
      </div>
    </div>
  </div>

  <!-- FIN TICKET -->

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="editForm.invalid"
      [print]="['ticket']"
      (click)="enviarInfo()"
    >
      {{ titulo }}
    </button>
    <button (click)="activeModal.dismiss()">Cancelar</button>
  </div>
</div>
