<div class="modal-header">
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="Concepto">Comentarios</label>
        <div class="input-group">
          <input formControlName="concepto" class="form-control" required type="text" [ngClass]="{
              'is-invalid': Concepto?.errors && Concepto?.touched,
              'is-valid': !Concepto?.errors && !Concepto?.touched
            }" />
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-center" id="ticket">
    <div id="ticket" class="receipt">
      <div class="location">CIERRE DE CAJA</div>


      <div class="headerTitle"><i class="fa fa-car"></i> PLAYA SAN LUIS</div>
      <div class="location">San Luis 428</div>
      <div class="location">Ciudad de CORDOBA</div>

      <hr />
      <div class="location">Operador: XXXXXXX XXXXXX </div>
      <div class="location">Id Sesion: XXZXX4XX</div>
      <div class="location">Abrio: XX/XX/XX 00:00</div>
      <div class="location">Cerro: XX/XX/XX 00:00</div>


      <div class="location">
        Apertura : 
      </div>
      <div class="location">
        Saldo De Caja :
        {{ saldo | currency : "ARS" : "symbol-narrow" : "1.0-0" }}
      </div>
      <div class="location">
        Ingresos Turno:
      </div>

      <hr />

      <div class="location">
        Vehiculos en playa : 12
  
      </div>
      <div class="location">
        Listado de patentes
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="editForm.invalid" [print]="['ticket']" (click)="closeModal()">
      {{ titulo }}
    </button>
    <button (click)="activeModal.dismiss()">Cancelar</button>
  </div>
</div>