<div class="modal-header">
  <button
    type="button"
    class="close btn btn-primary"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- CAMPO OBSERVACIONES DEL FORM -->

<div class="modal-body">
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="Concepto">Comentarios</label>
        <div class="input-group">
          <input
            formControlName="concepto"
            class="form-control"
            required
            type="text"
            [ngClass]="{
              'is-invalid': Concepto?.errors && Concepto?.touched,
              'is-valid': !Concepto?.errors && !Concepto?.touched
            }"
          />
        </div>
      </div>
    </form>
  </div>

  <!-- INICIO TICKET -->

<app-ticket-cierre-caja></app-ticket-cierre-caja>

  <!-- FIN TICKET -->

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="editForm.invalid"
      [print]="['ticket']"
      (click)="enviarInfo()"
    >

      {{fromParent.modo}}
    </button>
    <button (click)="activeModal.dismiss()" class="btn btn-danger">Cancelar</button>
  </div>
</div>