<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">Ingreso de Caja</h1>

    <button type="button" class="close btn btn-primary" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  
  <div class="modal-body">
    <div class="container">
     <!--  <h1>Ingreso de Caja</h1> -->
      <div class="modal-body">
        <form [formGroup]="editForm" novalidate>
          <div class="form-group">
            <label for="Concepto">Concepto</label>
            <div class="input-group">
              <input formControlName="concepto" class="form-control" required type="text"
                [ngClass]="{'is-invalid':Concepto?.errors && Concepto?.touched, 'is-valid': !Concepto?.errors && !Concepto?.touched }">
            </div>
          </div>
          <div class="form-group">
            <label for="Importe">Importe</label>
            <div class="input-group">
              <input formControlName="importe" class="form-control" required type="text"
                [ngClass]="{'is-invalid':Importe?.errors && Importe?.touched, 'is-valid': !Importe?.errors && !Importe?.touched }">
            </div>
          </div>
  
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" [disabled]="editForm.invalid" (click)="closeModal()">
          {{titulo}}
        </button>
      </div>
    </div>
  
  </div>

