<h1 class="display-1 pantallasGrandes" style="text-align: center">Historial de Caja</h1>

<div class="container pantallasGrandes">
  <div>
    <table datatable [dtOptions]="dtOptions" class="display table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Apertura</th>
          <th>Cierre</th>
          <th>Estado</th>
          <th>LogId</th>
          <th>usuario</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of data | async; let i = index">
          <td class="badge align-middle" scope="row">{{ i + 1 }}</td>
          <td class="align-middle">
            {{ item.apertura.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }}
          </td>

          <td class="align-middle" *ngIf="item?.cierre; else elsePerfId">
            {{ item.cierre.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }}
          </td>
          <ng-template #elsePerfId>
            <td class="align-middle">-- --</td>
          </ng-template>

          <td class="align-middle">{{ item.estado }}</td>
          <td class="align-middle">{{ item.id }}</td>
          <td class="align-middle">{{ item.userDisplayname }}</td>
          <td class="align-middle">
            <app-btn-consultar
              class="left"
              name="Consultar"
              class="d-flex align-items-center"
              (click)="msgBack(item)"

            >
            </app-btn-consultar>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="pantallasPequenias">
  <app-pagenotfound></app-pagenotfound>
</div>
