<h1 class="display-1" style="text-align: center">Historial de Caja </h1>

<div class="container">

  <div>
    <table
      datatable
      [dtOptions]="dtOptions"
      class="display table"

    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Apertura</th>
          <th>Cierre</th>
          <th>Estado</th>
          <th>LogId</th>
          <th>usuario</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of data | async ; let i = index">
          <td class="badge" scope="row">{{ i + 1 }}</td>
          <td>
            {{ item.apertura.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }}
          </td>

          <td *ngIf="item?.cierre; else elsePerfId">
            {{ item.cierre.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }}
          </td>
          <ng-template #elsePerfId>
            <td>-- --</td>
          </ng-template>

          <td>{{ item.estado }}</td>
          <td>{{ item.id}}</td>
          <td>{{ item.userDisplayname }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
