table.dataTable {
    margin: 0 auto;
  }

  .badge {
    padding: 1em 1.25em;
    color: white;
    background-color: #435B60;
    max-width: 11px;
    margin-top: .2em;
    margin-right: .8em;
    border-radius: 8px 0 0 8px;
  }