<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">Apertura de Caja</h1>

  <!-- <div>Saldo de caja: {{saldo | currency:'ARS':'symbol-narrow' :'1.0-0'}} </div> -->
  <button type="button" class="close btn btn-primary" title="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
            <label for="Concepto">Concepto</label>
            <div class="input-group">
              <input formControlName="concepto" class="form-control" required type="text"
              title="Concepto" placeholder="Concepto"
                [ngClass]="{'is-invalid':Concepto?.errors && Concepto?.touched, 'is-valid': !Concepto?.errors && !Concepto?.touched }">
            </div>
          </div>
        <div class="form-group">
          <label for="Importe">Saldo Inicial de Caja</label>
          <div class="input-group">
            <input formControlName="importe" class="form-control" required type="text"
              title="Ingrese el saldo inicial de caja" placeholder="Saldo inicial"
              [ngClass]="{'is-invalid':Importe?.errors && Importe?.touched, 'is-valid': !Importe?.errors && !Importe?.touched }">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" [disabled]="editForm.invalid" (click)="closeModal()">
        {{titulo}}
      </button>
    </div>
  </div>

</div>