@media screen and (max-width: 992px) and (min-width: 768px) {
  #text {
    font-size: 150px;
  }
}

@media screen and (max-width: 767.9px) and (min-width: 576px) {
  #text {
    font-size: 110px;
  }
}

@media screen and (max-width: 575.9px) and (min-width: 400px) {
  #text {
    font-size: 85px;
  }
}

@media screen and (max-width: 399.9px) {
  #text {
    font-size: 70px;
  }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  #logo {
    width: 50%;
    height: auto;
    margin: 10% 0;
    filter: invert(45%) sepia(97%) saturate(4489%) hue-rotate(338deg) brightness(94%) contrast(101%);
  }
  