

<h1 class="display-1 pantallasGrandes" style="text-align: center;"> Usuarios</h1>

<div class="pantallasGrandes">
    <table datatable [dtOptions]="dtOptions" class="display table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Nombre</th>
          <th>Mail</th>
    
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of data$ | async; let i = index">
          <td class="badge" scope="row">{{ i + 1 }}</td>
          <!-- <td>
            {{ item.fecha.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }}
          </td> -->
          <td>
            {{ item.displayName }}
          </td> 
          <td>{{ item.email }}</td>
 
          <!-- <td
            [class.positive]="item.operacion === 'ingreso'"
            [class.negative]="item.operacion === 'egreso'"
            [class.cierre]="item.operacion === 'cierre'"
          >

   
      <td
            [class.positive]="item.operacion === 'ingreso'"
            [class.negative]="item.operacion === 'egreso'"
            [class.cierre]="item.operacion === 'cierre'"
            style="text-align: right"
          > -->
            <!-- {{
              item.importe | currency : "ARS" : "symbol-narrow" : "1.0-0"
            }} -->
          <!-- </td> -->
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="pantallasPequenias">
    <app-pagenotfound></app-pagenotfound>
  </div>