.modal-dialog {
    width: 600px;
    margin: 0 auto;
  }
  
  .positive {
    color: green;
  }
  
  .negative {
    color: lightblue;
  }
  
  .cierre {
    color: red;
  }
  
  table.dataTable {
    margin: 0 auto;
  }
  
  .badge {
    padding: 1em 1.25em;
    color: white;
    background-color: #435b60;
    max-width: 11px;
    margin-top: 0.2em;
    margin-right: 0.8em;
    border-radius: 8px 0 0 8px;
  }
  