<div class="vehiculos">
  <div class="modal-header">
    <h1>Vehiculos asignados al Cliente</h1>
    <button
      type="button"
      class="close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="($modoCaja | async) === 'cerrada'">
    <h5 style="color: red">Caja Cerrada.</h5>
    <h5 style="color: red">No se puede cobrar Abonos.</h5>
    <h5 style="color: red">Abrir Caja o consultar con un Administrador.</h5>
  </div>

  <div *ngIf="($modoCaja | async) === 'admin'">
    <h5 style="color: red">Caja Abierta por otro usuario.</h5>
    <h5 style="color: red">No se puede cobrar abonos.</h5>
    <h5 style="color: red">Debe cerrar y vovler a abrir sesion para operar.</h5>
  </div>

  <table class="tftable">
    <colgroup>
      <col width="15%" />
      <col width="15%" />
      <col width="15%" />
      <col width="15%" />
      <col width="15%" />
      <col width="15%" />
      <col width="10%" />
    </colgroup>
    <tr>
      <th>patente</th>
      <th>marca</th>
      <th>modelo</th>
      <th>color</th>
      <th>tarifa</th>
      <th>Abono</th>
      <th><i class="bi bi-pencil-fill"></i></th>
    </tr>

    <tr *ngFor="let vehiculo of vehiculosPorCliente">
      <td>{{ vehiculo.patente }}</td>
      <td>{{ vehiculo.marca }}</td>
      <td>{{ vehiculo.modelo }}</td>
      <td>{{ vehiculo.color }}</td>
      <td>{{ vehiculo.tarifa.nombre }}</td>
      <td *ngIf="vehiculo.estado === 1">Pago</td>
      <td *ngIf="vehiculo.estado === 0">Impago</td>

      <td class="d-flex align-items-center">
        <app-btn-editar
          class="right"
          (click)="toggleEditarVehiculoComponent(vehiculo)"
        ></app-btn-editar>
        <app-btn-eliminar
          class="right"
          (click)="eliminarVehiculo(vehiculo)"
        ></app-btn-eliminar>
        <app-btn-agregar
          class="right"
          (click)="toggleAgregarVehiculoComponent()"
        ></app-btn-agregar>
        <div *ngIf="($modoCaja | async) === 'abierta'">
          <app-btn-eliminar
            *ngIf="vehiculo.estado === 0"
            class="right"
            [name]="'Pagar'"
            (click)="efectuarPago(vehiculo)"
          ></app-btn-eliminar>
        </div>
      </td>
    </tr>
  </table>

  <div class="d-flex justify-content-between mx-4 my-2"></div>
  <ng-container *ngIf="form">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">
        {{
          titulo === "Vehiculo Agregar" ? "Agregar Vehiculo" : "Editar Vehiculo"
        }}
      </h5>
      <button type="button" class="close" (click)="toggleFormView()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="Patente">Patente</label>

          <div class="input-group">
            <input
              formControlName="patente"
              class="form-control"
              required
              type="text"
              [readonly]="titulo !== 'Vehiculo Agregar'"
              [ngClass]="{
                'is-invalid': Patente?.errors && Patente?.touched,
                'is-valid': !Patente?.errors && !Patente?.touched,
                'readonly-input': titulo !== 'Vehiculo Agregar'
              }"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="Marca">Marca</label>
          <div class="input-group">
            <input
              formControlName="marca"
              class="form-control"
              required
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="Modelo">Modelo</label>
          <div class="input-group">
            <input
              formControlName="modelo"
              class="form-control"
              required
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="Color">Color</label>
          <div class="input-group">
            <input
              formControlName="color"
              class="form-control"
              required
              type="text"
            />
          </div>
        </div>
        <div>
          <label for="Tarifa">Tarifa</label>
          <select
            class="form-select form-select-md mb-3"
            (change)="changeTarifa($event)"
          >
            <option value="{{ tarifaSeleccionada }}">Elegir Tarifa</option>
            <option *ngFor="let tarifa of tarifas">
              {{ tarifa.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input formControlName="id" class="form-control" type="hidden" />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="guardarVehiculo()">
        Guardar
      </button>
    </div>
  </ng-container>

  <!-- prueba modal -->

  <div>
    <h1>Outer Component</h1>

    <ng-container *ngIf="showAgregarComponent">
      <app-agregar-vehiculo
        [title]="innerTitle"
        (formSubmit)="agregarVehiculoAlCliente($event)"
        [message]="innerMessage"
        (closed)="onAgregarVehiculoClosed()"
      ></app-agregar-vehiculo>
    </ng-container>

    <ng-container *ngIf="showEditarComponent">
      <app-editar-vehiculo
        [title]="innerTitle"
        (formSubmit)="editarVehiculoAlCliente($event)"
        
        [vehiculoParaEditar]="vehiculoParaEditar"
        [message]="innerMessage"
        (closed)="onAgregarVehiculoClosed()"
      ></app-editar-vehiculo>
    </ng-container>
  </div>
</div>
