<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{titulo}} Vehiculo </h5>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="Patente">Patente</label>
          <div class="input-group">
            <input formControlName="patente" class="form-control" required type="text">
          </div>
        </div>
        <div class="form-group">
          <label for="Marca">Marca</label>
          <div class="input-group">
            <input formControlName="marca" class="form-control" required type="text">
          </div>
        </div>
        <div class="form-group">
          <label for="Modelo">Modelo</label>
          <div class="input-group">
            <input formControlName="modelo" class="form-control" required type="text">
          </div>
        </div>

        <div class="form-group">
          <label for="Color">Color</label>
          <div class="input-group">
            <input formControlName="color" class="form-control" required type="text">
          </div>
        </div>

        <!-- Ingreso egreso lado a lado  -->
        <!-- <table class="table">
          <tr>
            <td>
              <div class="form-group">
                <label for="ingreso">Ingreso</label>
                <div class="input-group">
                  <input formControlName="ingreso" class="form-control" required type="date">
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="egreso">Egreso</label>
                <div class="input-group">
                  <input formControlName="egreso" class="form-control" required type="date">
                </div>
              </div>
            </td>
          </tr>
        </table> -->


        <div class="form-group">
          <div class="input-group">
            <input formControlName="id" class="form-control" type="hidden">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="validarPatente()">
        {{titulo}}
      </button>
    </div>
  </div>

</div>