<!-- <h1 class="display-1" style="text-align: center;">dashboard</h1> -->

<div class="container">

  <br>
  <br>


  <div>
    <h1>Facturacion</h1>
    <app-facturacion-control></app-facturacion-control>
  </div>
  <br>
  <div>
    <h1>Logs</h1>
    <app-logs></app-logs>
  </div>

  <div>

    <h1>Datos de la empresa</h1>
    <table>
      <tbody>

        <tr>Cuit: {{data.cuit|| 'Sin Datos'}}</tr>
        <tr>Direccion: {{data.direccion|| 'Sin Datos'}}</tr>
        <tr>Mail: {{data.mail|| 'Sin Datos'}}</tr>
        <tr>Razon Social: {{data.razonSocial|| 'Sin Datos'}}</tr>
        <tr>Telefono: {{data.telefono|| 'Sin Datos'}}</tr>

        <tr>
          <app-btn-editar class="right" (click)="openForm('Editar',data)">
          </app-btn-editar>
        </tr>

      </tbody>
    </table>



    <div>

      <h1>Perfil Usuario</h1>
      <!-- Show user data when logged in -->
      <div class="row" *ngIf="authService.usuario as user">
        <div class="col-md-12">
          <div class="media">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle"
              src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
            <div class="media-body">
              <h1><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p>User ID: <strong>{{user.uid}}</strong></p>
              <p>Email: <strong>{{user.email}}</strong></p>
              <p>Email Verificado: <strong>{{user.emailVerified}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>