<h1 class="display-1 pantallasGrandes" style="text-align: center">
  Listado de Vehiculos de Clientes
</h1>

<div class="container pantallasGrandes">
  <table datatable [dtOptions]="dtOptions" class="display table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patente</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Color</th>
        <th scope="col">Cliente</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of vehiculos; let i = index">
        <td class="badge align-middle" scope="row">{{ i + 1 }}</td>
        <!-- <td>
          {{ item.Fecha.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }}
        </td> -->
        <td class="align-middle">{{ item.patente }}</td>
        <td class="align-middle">{{ item.marca }}</td>
        <td class="align-middle">{{ item.modelo }}</td>
        <td class="align-middle">{{ item.color }}</td>
        <td class="align-middle">{{ item.idCliente }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pantallasPequenias">
  <app-pagenotfound></app-pagenotfound>
</div>
