<div class="container">
  <table datatable [dtOptions]="dtOptions" class="display table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" id="patente">Patente</th>
        <th scope="col">Ingreso</th>
        <th scope="col" class="tarifa">Tarifa</th>
        <th scope="col" class="pantallasGrandes">Descripcion></th>        
        <th id="colBtn"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of data | async; let i = index">
        <th class="badge" scope="row">{{ i + 1 }}</th>
        <td class="align-middle">{{ item.patente }}</td>
        <td class="align-middle">
          {{ item.fechaOp.seconds * 1000 | date : "dd/MM/yyyy - hh:mmaaa" }}
        </td>
        <td class="align-middle tarifa">{{ item.tarifa.nombre }}</td>
        <td class="align-middle pantallasGrandes" id="descripcion">{{ item.descripcion }}</td>       
        <td class="align-middle botones">
          <app-btn-editar 
          class="right" 
          (click)="msgBack('Editar', item)"
          class="pantallasGrandes" 
          >
          </app-btn-editar>
           
            <app-btn-reimpresion
            class="right"
            (click)="msgBack('Reimprimir', item)"
            class="pantallasGrandes" 
          >
          </app-btn-reimpresion>       
          
          <app-btn-editar 
          (click)="msgBack('Editar', item)" 
          [name]="'nada'" 
          class="pantallasPequenias"
          >
          </app-btn-editar>       
        
          <app-btn-reimpresion
            (click)="msgBack('Reimprimir', item)"
            [nombre]="'nada'"   
            class="pantallasPequenias"        
          >
          </app-btn-reimpresion>
        
        </td>
        <!-- </div> -->
      </tr>
    </tbody>
  </table>
</div>
