<H1 class="display-1" style="text-align: center;">Clientes </H1>

<div>


<style type="text/css">
    .tftable {font-size:18px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#d4e3e5;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffffff;}
    </style>
    
    <table class="tftable" border="1">
    <tr><th>Nombre</th><th>telefono</th><th>Direccion</th><th>Comentario</th><</tr>
    <tr><td>Armando Esteba</td><td>1234 1234 1234</td><td>Nuñez 250</td><td>Renault 4 Verde manzana AA 123 234</td></tr>
    </table>
 
    
    <blockquote class="blockquote">
<p class="mb-0">copidado de la app original</p>
<p class="mb-0">Usa el campo comentarios para el modelo de auto</p>




</blockquote>

</div>

