<br><br>
    <h1 class="display-1 pantallasGrandes" style="text-align: center;">Datos de la empresa</h1>

<div class="container pantallasGrandes">



    
    <table>
      <tbody *ngIf="data !== undefined else SinDatos">
        <tr>Razon Social: {{data.razonSocial|| 'Sin Datos'}}</tr>
        <tr>Cuit: {{data.cuit|| 'Sin Datos'}}</tr>
        <tr>Direccion: {{data.direccion|| 'Sin Datos'}}</tr>
        <tr>Localidad: {{data.localidad|| 'Sin Datos'}}</tr>
        <tr>Provincia: {{data.provincia|| 'Sin Datos'}}</tr>
        <tr>Mail: {{data.mail|| 'Sin Datos'}}</tr>
     
        <tr>Telefono: {{data.telefono|| 'Sin Datos'}}</tr>

        <tr>
          <app-btn-editar class="right" (click)="openForm('Editar',data)">
          </app-btn-editar>
        </tr>

      </tbody>
    </table>

<ng-template #SinDatos>
  <tbody >

    <tr> Ingrese datos de la empresa por favor</tr>

    <tr>
      <app-btn-editar class="right" (click)="openForm('Agregar',data)">
      </app-btn-editar>
    </tr>

  </tbody>
</ng-template>


  </div>

  <div class="pantallasPequenias">
    <app-pagenotfound></app-pagenotfound>
  </div>
