<form [formGroup]="patenteForm" (ngSubmit)="onSubmit()">
  <label for="patente">Ingresar Patente</label><br />
  <div *ngIf="($modoCaja | async) === 'cerrada'">
    <h5 style="color: red">Caja Cerrada.</h5>
    <h5 style="color: red"></h5>
    <h5 style="color: red">Abrir Caja o consultar con un Administrador.</h5>
  </div>

  <div *ngIf="($modoCaja | async) === 'admin'">
    <h5 style="color: red">Caja Abierta por otro usuario.</h5>
    <h5 style="color: red"></h5>
    <h5 style="color: red">
      Puede cerrar y volver a abrir sesion de Caja a su nombre.
    </h5>
  </div>
  
  <input
    *ngIf="($modoCaja | async) === 'abierta'"
    type="text"
    formControlName="patente"
    class="form-control mt-3"
    required
    type="text"
    [placeholder]="'ab123cd'"
    [ngClass]="{
      'is-invalid': Patente?.errors && Patente?.touched,
      'is-valid': !Patente?.errors && !Patente?.touched
    }"
  />
  <span
  class="question-circle"
  placement="top"
  ngbPopover="{{ formatosAdmitidos }}"
  triggers="click"
>
  <i class="fa fa-question"></i> <!-- Asegúrate de tener la clase de ícono correspondiente -->
</span>
  <div
    *ngIf="Patente?.errors?.required && Patente?.touched"
    class="text-danger fs-6"
  >
    Ingrese la patente por favor
  </div>
  <div *ngIf="Patente?.errors && Patente?.touched" class="text-danger fs-6">
    Patente no valida
  </div>
  <div class="d-flex justify-content-evenly mt-2">
    <div *ngIf="($modoCaja | async) === 'abierta'">
      <app-btn-ingreso
        type="submit"
        name="Ingreso"
        (click)="setOp('Agregar')"
        class="d-flex align-items-center"
        [disabled]="!patenteForm.valid"
      >
      </app-btn-ingreso>
    </div>
    <div *ngIf="($modoCaja | async) === 'abierta'">
      <app-btn-egreso
        (click)="setOp('Eliminar')"
        class="d-flex align-items-center"
        name="Egreso"
        [disabled]="!patenteForm.valid"
      >
      </app-btn-egreso>
    </div>
  </div>
</form>
