

<div class="container" *ngIf="!spinner else spinnerCarga">

  <app-login-header></app-login-header>

  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h2>Bienvenido</h2>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">O</span></span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService --->

        <!-- <p>Ingrese con su cuenta de google</p> -->
        <!-- <app-btn-agregar [name]="'Google'" (click)="loginWithGoogle()"></app-btn-agregar> -->


        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="loginWithGoogle()">
            <i class="fab fa-google-plus-g"></i>
            Ingresar con Google
          </button>
        </div>
        
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Olvide mi contraseña</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <!-- <span>Registrese<span class="redirect" routerLink="/register-user"> Sign Up</span></span> -->
      </div>
    </div>
  </div>


</div>

<ng-template #spinnerCarga>
  <app-spinner></app-spinner>
</ng-template>