<div class="container">
  <app-login-header></app-login-header>

  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h2>Bienvenido</h2>


        <!-- LOGIN CON MAIL / USUARIO -->

        <div class="formGroup">
          <input
            type="text"
            class="formControl"
            placeholder="Username"
            #userName
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPassword
            required
          />
        </div>

       <!-- LLAMADA AL SERVICIO SIGN IN DE AUTH (USER MAIL) -->

        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)"
          />
        </div>

        <!-- SEPARADOR -->
        <div class="formGroup">
          <span class="or"><span class="orInner">O</span></span>
        </div>

       <!-- !!! DESHABILITADO ----LOGIN CON GOOGLE  -->

        <!-- <div class="formGroup">
          <button
            type="button"
            class="btn googleBtn"
            
            (click)="authService.GoogleAuth()"

          >
            <i class="fab fa-google-plus-g"></i>
            Ingresar con Google
          </button>
        </div> -->

        <!-- RECUPERAR CLAVE -->

        <div class="forgotPassword">
          <span routerLink="/forgot-password">Olvide mi contraseña</span>
        </div>
      </div>

      <!-- REGISTRARSE -->
      <div class="redirectToLogin">
        <span
          >Registrese<span class="redirect" routerLink="/register-user">
            Sign Up</span
          ></span
        >
      </div>
    </div>
  </div>
</div>
